h1 {
  font-size: 26px;
  font-weight: 700;
}
.text-light {
  color: #909090;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 14px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
}

.a-h3 {
  cursor: pointer;
  color: #1785e5;
  font-size: 18px;
  font-weight: 700;
}
